# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# other files
HelloWorld/Lab1Complete.txt
LabTwo/percolation/*
LabTwo/bin/images/*
LabTwo/bin/inputs/*
LabTwo/src/images/*
LabTwo/src/inputs/*
LabFour/README.md
LabFour/.vscode/settings.json
LabFour/bin/.lift/checkstyle-coursera.xml
LabFour/bin/.lift/checkstyle-suppressions.xml
LabFour/bin/.lift/spotbugs.xml
LabFour/lab04/csci232.iml
LabFour/lab04/.idea/.gitignore
LabFour/lab04/.idea/.name
LabFour/lab04/.idea/checkstyle-idea.xml
LabFour/lab04/.idea/codeInsightSettings.xml
LabFour/lab04/.idea/compiler.xml
LabFour/lab04/.idea/externalDependencies.xml
LabFour/lab04/.idea/file.template.settings.xml
LabFour/lab04/.idea/findbugs-idea.xml
LabFour/lab04/.idea/misc.xml
LabFour/lab04/.idea/modules.xml
LabFour/lab04/.idea/saveactions_settings.xml
LabFour/lab04/.idea/codeStyles/codeStyleConfig.xml
LabFour/lab04/.idea/codeStyles/Project.xml
LabFour/lab04/.idea/dictionaries/lift.xml
LabFour/lab04/.idea/fileTemplates/includes/File Header.java
LabFour/lab04/.idea/fileTemplates/internal/AnnotationType.java
LabFour/lab04/.idea/fileTemplates/internal/Class.java
LabFour/lab04/.idea/fileTemplates/internal/Enum.java
LabFour/lab04/.idea/fileTemplates/internal/Interface.java
LabFour/lab04/.idea/fileTemplates/internal/module-info.java
LabFour/lab04/.idea/fileTemplates/internal/package-info.java
LabFour/lab04/.idea/inspectionProfiles/COS_126.xml
LabFour/lab04/.idea/inspectionProfiles/profiles_settings.xml
LabFour/lab04/.idea/libraries/introcs.xml
LabFour/src/.lift/checkstyle-coursera.xml
LabFour/src/.lift/checkstyle-suppressions.xml
LabFour/src/.lift/spotbugs.xml
LabTwo/bin/readme.txt
Simulation/inputs/billiards2.txt
Simulation/inputs/billiards4.txt
Simulation/inputs/billiards5.txt
Simulation/inputs/brownian.txt
Simulation/inputs/brownian2.txt
Simulation/inputs/diagonal.txt
Simulation/inputs/diagonal1.txt
Simulation/inputs/diagonal2.txt
Simulation/inputs/diffusion.txt
Simulation/inputs/diffusion2.txt
Simulation/inputs/diffusion3.txt
Simulation/inputs/p100-.5K.txt
Simulation/inputs/p100-.125K.txt
Simulation/inputs/p100-2K.txt
Simulation/inputs/p1000-.5K.txt
Simulation/inputs/p1000-2K.txt
Simulation/inputs/p2000.txt
Simulation/inputs/pendulum.txt
Simulation/inputs/squeeze.txt
Simulation/inputs/squeeze2.txt
Simulation/inputs/wallbouncing.txt
Simulation/inputs/wallbouncing2.txt
Simulation/inputs/wallbouncing3.txt
LabTwo/src/Bova_Jake_Lab2/Percolation.java
LabTwo/src/Bova_Jake_Lab2/PercolationStats.java
LabTwo/src/Bova_Jake_Lab2/readme.txt
LabTwo/bin/Bova_Jake_Lab2/readme.txt
LabFive/Bova_Jake_Lab5/Autocomplete.java
LabFive/Bova_Jake_Lab5/BinarySearchDeluxe.java
LabFive/Bova_Jake_Lab5/readme.txt
LabFive/Bova_Jake_Lab5/Term.java
LabFinal/wordnet/.DS_Store
LabFinal/wordnet/csci232.iml
LabFinal/wordnet/.idea/inspectionProfiles/COS_126.xml
LabFinal/wordnet/.idea/inspectionProfiles/profiles_settings.xml
LabFinal/wordnet/.idea/libraries/introcs.xml
LabFinal/wordnet/.lift/checkstyle-coursera.xml
LabFinal/wordnet/.lift/checkstyle-suppressions.xml
LabFinal/wordnet/.lift/spotbugs.xml
LabFinal/wordnet/.idea/.name
LabFinal/wordnet/.idea/checkstyle-idea.xml
LabFinal/wordnet/.idea/codeInsightSettings.xml
LabFinal/wordnet/.idea/compiler.xml
LabFinal/wordnet/.idea/externalDependencies.xml
LabFinal/wordnet/.idea/file.template.settings.xml
LabFinal/wordnet/.idea/findbugs-idea.xml
LabFinal/wordnet/.idea/misc.xml
LabFinal/wordnet/.idea/modules.xml
LabFinal/wordnet/.idea/saveactions_settings.xml
LabFinal/wordnet/.idea/codeStyles/codeStyleConfig.xml
LabFinal/wordnet/.idea/codeStyles/Project.xml
LabFinal/wordnet/.idea/dictionaries/lift.xml
LabFinal/wordnet/.idea/fileTemplates/includes/File Header.java
LabFinal/wordnet/.idea/fileTemplates/internal/AnnotationType.java
LabFinal/wordnet/.idea/fileTemplates/internal/Class.java
LabFinal/wordnet/.idea/fileTemplates/internal/Enum.java
LabFinal/wordnet/.idea/fileTemplates/internal/Interface.java
LabFinal/wordnet/.idea/fileTemplates/internal/module-info.java
LabFinal/wordnet/.idea/fileTemplates/internal/package-info.java
